@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

$fa-font-path: "./webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

@import "bootstrap/scss/bootstrap";

body {
  font-family: "Bangers", cursive;
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

header {
  .custom-container {
    height: 8rem;
    padding: 0.5rem 0;
  }
}

// CUSTOM CONTAINER
@mixin make-container($padding-x: $container-padding-x) {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.custom-container {
  @include make-container();
}

// VARIABLES
$dc-light-blue: #0c7cec;
