@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

$fa-font-path: "./webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

@import "bootstrap/scss/bootstrap";

body {
  font-family: "Bangers", cursive;
}

// CUSTOM CONTAINER
@mixin make-container($padding-x: $container-padding-x) {
  width: 70%;
  padding: 1.5rem 0;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.custom-container {
  @include make-container();
}
